<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-storage.js"></script>


<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDGhw9_fvgIZJW8UxJ4ogIUcWly31Dt0Io",
    authDomain: "kamote-dev.firebaseapp.com",
    databaseURL: "https://kamote-dev.firebaseio.com",
    projectId: "kamote-dev",
    storageBucket: "kamote-dev.appspot.com",
    messagingSenderId: "442430570217",
    appId: "1:442430570217:web:e083fe72b531501f"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>